mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
            img(src=video.thumbUrl crossorigin style=`background-size:cover;background-position:center;width:275px;height:160px`)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                p #{video.owner.name} 
                span 조회수 #{video.meta.views}회 · 
                span #{video.createdAt}